<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Rupees</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index">
            <span>
              Rupees
            </span>
          </a>

          <div class="navbar-collapse" id="">
            <div class="user_option">

            </div>
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">Home</a>
                <a href="about">About</a>
                <a href="register">Registration</a>
                <a href="login">Login</a>
                <!--<a href="/userhome">Userhome</a>
                -->

              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding2-top layout_padding-bottom ">
    <div class="container-fluid">
      <div class="row">

        <center>
          <h2>
            ABOUT
          </h2>
          <p>
            Fake Indian Currency Note (FICN) is the official term for counterfeit notes in the Indian economy. 
            Estimates vary as to how many fake notes are in circulation. A study completed by the National Investigation Agency in partnership 
            with the Indian Statistical Institute (ISI) 
            stated that the value is 400 crore rupees (4 billion rupees/$53.3 million).
          </p>
        </center>


      </div>
      <br>
      <footer class="container-fluid footer_section">

      </footer>
      <br>
      
      <div class="row">

        <center>
          <h2>
            
          </h2>
          <p>
            Counterfeit Indian currency is a pressing issue, primarily circulating in denominations of 500 and
            2,000
            rupees. These fake notes often enter circulation through illegal channels, posing a threat to the
            economy and financial stability. Sophisticated printing techniques, including high-quality paper and
            color replication, make detection challenging. Security features like watermarks, security threads,
            and
            holograms on genuine currency are mimicked by counterfeiters. Law enforcement agencies employ advanced
            technology and public awareness campaigns to combat this menace, emphasizing vigilance in financial
            transactions. Continuous efforts are underway to enhance currency security and implement stricter
            measures against the production and circulation of fake Indian currency.
          </p>
        </center>


      </div>
    </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section 
  <footer class="container-fluid footer_section">

  </footer>
   footer section -->

  <script src="static/js/jquery-3.4.1.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="static/js/custom.js"></script>

</body>

</html>